/* ---Base--- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 98vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

/* ---Helpers--- */

.hide {
  visibility: hidden;
}

/* ---Layout--- */

.game-area {
  height: inherit;
  width: 70vw;
  max-width: 1000px;
  display: flex;
}

.p1-area,
.p2-area {
  flex: 1;
  padding: calc(2rem + 1%);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* ---Boards--- */

.p1-board,
.p2-board {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

/* ---Cells--- */

.p1-board > button,
.p2-board > button {
  padding-left: 2px;
}

/* ---Other--- */

.ship-placer {
  position: absolute;
  top: -45px;
}

.p1-result,
.p2-result {
  position: absolute;
  top: -40px;
}
